.imgBox {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 800px;
}



.img {
    width: 100%;

}

.textBox {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: rgb(42, 42, 43);
    padding: 50px 0 50px 0;
    gap: 25px;
}

.titel {
    font-size: 50px;
    color: rgb(235, 57, 25);
    letter-spacing: 0.02em;
}

.text {
    font-size: 30px;
    color: white;
    letter-spacing: 0.02em;
}

.slaiderWrap {
    display: flex;
    gap: 20px;
}

.svgBox {
    width: 250px;
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.slaiderText {
    font-size: 30px;
    color: white;
    letter-spacing: 0.02em;
}

.slaiderSvg {
    width: 50px;
    height: 50px;
}

.location {
    display: flex;
    justify-content: space-around;
    flex-wrap: nowrap;
    margin: 20px 0 20px 0;
}

.imgLocation {
    width: 900px;
    margin: 0 auto;
    padding: 30px 0 30px 0;

}

.titleContacts {
    padding-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(235, 57, 25);
    font-size: 32px;
    letter-spacing: 0.02em;
}

.locationBox {

    background-color: rgb(42, 42, 43);

}

.locationList {
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.locationText {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 0.02em;
}

.locationTitle {
    color: rgb(235, 57, 25);
    font-size: 25px;
    letter-spacing: 0.02em;
}

.telTitle {
    color: rgb(235, 57, 25);
    font-size: 25px;
    letter-spacing: 0.02em;
}

.contactsList {
    flex-direction: column;
    display: flex;
    gap: 15px;
}

.numberList {
    color: rgb(255, 255, 255);
    font-size: 20px;
    letter-spacing: 0.02em;
}