.commentSwiper {

    width: 300px;
    height: 400px;

}

.swiperBox {
    flex-direction: column;
    display: flex;
    background-color: rgba(128, 128, 128, 0.082);
    padding: 35px 0 35px 0;
    border-bottom: 1px solid rgb(235, 57, 25);

}

.slidCard {
    background-color: white;

}

.wrap {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.title {
    margin-top: 15px;
    font-size: 25px;
    letter-spacing: 0.02em;

}

.text {
    width: 220px;
    margin-top: 25px;
    font-size: 18px;
    letter-spacing: 0.02em;
}

.swiperTitle {
    display: flex;

}

.swiperTextTitle {
    font-size: 32px;
    text-align: center;
    padding-bottom: 25px;
    letter-spacing: 0.02em;
}